/* + Login form input */
.et-login-input
{
	font-family: Arial;
	font-size: 10px;
	color: #878787;
	line-height: 17px;
	height: 19px;
	padding: 0 4px;
	
	border-radius: 3px;
	border: 1px solid #c4c4c4;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12) inset, 0 1px 0 #fff;
}
.et-chk-ora
{
    width: 35px;
    cursor: pointer;
    
	color: #fff;
	text-shadow: 0 1px 0 rgba(134, 61, 6, 0.75);
	border: 1px solid #353e4b;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.47) inset, 0 0 5px rgba(255, 255, 255, 0.17);
	
	/* Regular color */
	background-color: #ff9006;
	/* CSS3 background */
	background-image: linear-gradient(bottom, #ff7502 0%, #ff9006 100%);
	background-image: -o-linear-gradient(bottom, #ff7502 0%, #ff9006 100%);
	background-image: -moz-linear-gradient(bottom, #ff7502 0%, #ff9006 100%);
	background-image: -webkit-linear-gradient(bottom, #ff7502 0%, #ff9006 100%);
	background-image: -ms-linear-gradient(bottom, #ff7502 0%, #ff9006 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #ff7502),
		color-stop(1, #ff9006)
	);
}
    /* for IE6 */
    * html .et-chk-ora
    {
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff9006, endColorstr=#ff7502);
    }
    /* for IE7 */
    *+html .et-chk-ora
    {
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff9006, endColorstr=#ff7502);
    }
    /* for IE8, going last */
    @media \0screen {
	    .et-chk-ora
	    {
	        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff9006, endColorstr=#ff7502)";    
	    }
    }
.et-chk-dial
{
    width: 17px;
    margin-left: 0;
	
    transition: margin 0.1s ease 0s;
    -moz-transition: margin 0.1s ease 0s;
    -webkit-transition: margin 0.1s ease 0s;
    -o-transition: margin 0.1s ease 0s;

	border: 1px solid #c5cfd9;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.38) inset, 0 1px 4px rgba(0, 0, 0, 0.24);
	
	/* Regular color */
	background-color: #f1f1f1;
	/* CSS3 background */
	background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%);
	background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%);
	background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%);
	background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%);
	background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgba(0, 0, 0, 0.06)),
		color-stop(1, rgba(255, 255, 255, 0.06))
	);
}
    /* for IE6 */
    * html .et-chk-dial
    {
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff9006, endColorstr=#ff7502);
    }
    /* for IE7 */
    *+html .et-chk-dial
    {
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff9006, endColorstr=#ff7502);
    }
    /* for IE8, going last */
    @media \0screen {
	    .et-chk-dial
	    {
	        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff9006, endColorstr=#ff7502)";    
	    }
    }
.et-chk-ora:active .et-chk-dial,
.et-chk-dial:active
{
	box-shadow: 0 3px 5px rgba(86, 86, 86, 0.3) inset;
}
.et-chk-ora input:checked + .et-chk-dial
{
    margin-left: 16px;
}