 /* + Rounded Rectangle */
.et-rdrect
{
	font-family: Arial;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

/* +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+ */
/* - Color */
.et-rdrect-whi
{
	color: #838383;

	border: 1px solid #c5cfd9;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.38) inset, 0 1px 4px rgba(0, 0, 0, 0.24);
	
	/* Regular color */
	background-color: rgba(255, 255, 255, 0.06);
	/* CSS3 background */
	background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%);
	background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%);
	background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%);
	background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%);
	background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgba(0, 0, 0, 0.06)),
		color-stop(1, rgba(255, 255, 255, 0.06))
	);
}
    /* for IE6 */
    * html .et-rdrect-whi
    {
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=rgba(255, 255, 255, 0.06), endColorstr=rgba(0, 0, 0, 0.06));
    }
    /* for IE7 */
    *+html .et-rdrect-whi
    {
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=rgba(255, 255, 255, 0.06), endColorstr=rgba(0, 0, 0, 0.06));
    }
    /* for IE8, going last */
    @media \0screen {
	    .et-rdrect-whi
	    {
	        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=rgba(255, 255, 255, 0.06), endColorstr=rgba(0, 0, 0, 0.06))";    
	    }
    }
a.et-rdrect-whi:active
{
	box-shadow: 0 3px 12px rgba(86, 86, 86, 0.7) inset, 0 1px 0 rgba(11, 55, 84, 0.16);
}

/* ------------------------------------------------------- */
.et-rdrect-lightgra
{
	color: #838383;

	border: 1px solid #c5cfd9;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12) inset;
	
	/* Regular color */
	background-color: rgba(91, 102, 116, 0.09);
}
    /* for IE6 */
    * html .et-rdrect-lightgra
    {
	    background-color: #edeff1;
    }
    /* for IE7 */
    *+html .et-rdrect-lightgra
    {
	    background-color: #edeff1;
    }
    /* for IE8, going last */
    @media \0screen {
	    .et-rdrect-lightgra
	    {
	        background-color: #edeff1;
	    }
    }
a.et-rdrect-lightgra:active
{
	box-shadow: 0 3px 12px rgba(86, 86, 86, 0.7) inset, 0 1px 0 rgba(11, 55, 84, 0.16);
}

/* ------------------------------------------------------- */
.et-rdrect-gra
{
	color: #fff;
	text-shadow: 0 1px 0 rgba(8, 40, 74, 0.75);
	border: 1px solid #535f70;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.38) inset, 0 1px 0 rgba(11, 55, 84, 0.16);
	
	/* Regular color */
	background-color: #bdc8d1;
	/* CSS3 background */
	background-image: linear-gradient(bottom, #768394 0%, #bdc8d1 100%);
	background-image: -o-linear-gradient(bottom, #768394 0%, #bdc8d1 100%);
	background-image: -moz-linear-gradient(bottom, #768394 0%, #bdc8d1 100%);
	background-image: -webkit-linear-gradient(bottom, #768394 0%, #bdc8d1 100%);
	background-image: -ms-linear-gradient(bottom, #768394 0%, #bdc8d1 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #768394),
		color-stop(1, #bdc8d1)
	);
}
    /* for IE6 */
    * html .et-rdrect-gra
    {
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#bdc8d1, endColorstr=#768394);
    }
    /* for IE7 */
    *+html .et-rdrect-gra
    {
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#bdc8d1, endColorstr=#768394);
    }
    /* for IE8, going last */
    @media \0screen {
	    .et-rdrect-gra
	    {
	        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#bdc8d1, endColorstr=#768394)";    
	    }
    }
a.et-rdrect-gra:active
{
	box-shadow: 0 3px 12px rgba(86, 86, 86, 0.7) inset, 0 1px 0 rgba(11, 55, 84, 0.16);
}

/* ------------------------------------------------------- */
.et-rdrect-mgra
{
	color: #fff;
	text-shadow: 0 1px 0 rgba(8, 40, 74, 0.75);
	border: 1px solid #212c37;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.38) inset, 0 2px 0 rgba(11, 55, 84, 0.16);
	
	/* Regular color */
	background-color: #64768d;
	/* CSS3 background */
	background-image: linear-gradient(bottom, #4d5e75 0%, #8191a5 100%);
	background-image: -o-linear-gradient(bottom, #4d5e75 0%, #8191a5 100%);
	background-image: -moz-linear-gradient(bottom, #4d5e75 0%, #8191a5 100%);
	background-image: -webkit-linear-gradient(bottom, #4d5e75 0%, #8191a5 100%);
	background-image: -ms-linear-gradient(bottom, #4d5e75 0%, #8191a5 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #4d5e75),
		color-stop(1, #8191a5)
	);
}
    /* for IE6 */
    * html .et-rdrect-mgra
    {
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#8191a5, endColorstr=#4d5e75);
    }
    /* for IE7 */
    *+html .et-rdrect-mgra
    {
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#8191a5, endColorstr=#4d5e75);
    }
    /* for IE8, going last */
    @media \0screen {
	    .et-rdrect-mgra
	    {
	        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#8191a5, endColorstr=#4d5e75)";    
	    }
    }
a.et-rdrect-mgra:active
{
	box-shadow: 0 3px 12px rgba(86, 86, 86, 0.7) inset, 0 1px 0 rgba(11, 55, 84, 0.16);
}

/* ------------------------------------------------------- */
.et-rdrect-pewter
{
	color: #fff;
	text-shadow: 0 1px 0 rgba(8, 40, 74, 0.75);
	border: 1px solid #2b343f;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.38) inset, 0 1px 5px rgba(0, 0, 0, 0.24);
	
	/* Regular color */
	background-color: #5f7490;
	/* CSS3 background */
	background-image: linear-gradient(bottom, #6d829e 0%, #5f7490 100%);
	background-image: -o-linear-gradient(bottom, #6d829e 0%, #5f7490 100%);
	background-image: -moz-linear-gradient(bottom, #6d829e 0%, #5f7490 100%);
	background-image: -webkit-linear-gradient(bottom, #6d829e 0%, #5f7490 100%);
	background-image: -ms-linear-gradient(bottom, #6d829e 0%, #5f7490 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #6d829e),
		color-stop(1, #5f7490)
	);
}
    /* for IE6 */
    * html .et-rdrect-pewter
    {
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#5f7490, endColorstr=#6d829e);
    }
    /* for IE7 */
    *+html .et-rdrect-pewter
    {
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#5f7490, endColorstr=#6d829e);
    }
    /* for IE8, going last */
    @media \0screen {
	    .et-rdrect-pewter
	    {
	        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#5f7490, endColorstr=#6d829e)";    
	    }
    }
a.et-rdrect-pewter:active
{
	box-shadow: 0 3px 12px rgba(86, 86, 86, 0.7) inset, 0 1px 0 rgba(11, 55, 84, 0.16);
}

/* ------------------------------------------------------- */
.et-rdrect-indigo
{
	color: #fff;
	text-shadow: 0 1px 0 rgba(8, 40, 74, 0.75);
	border: 1px solid rgba(149, 164, 185, 0.52);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.52) inset;
	
	/* Regular color */
	background-color: #536f94;
	/* CSS3 background */
	background-image: linear-gradient(bottom, #304055 0%, #536f94 100%);
	background-image: -o-linear-gradient(bottom, #304055 0%, #536f94 100%);
	background-image: -moz-linear-gradient(bottom, #304055 0%, #536f94 100%);
	background-image: -webkit-linear-gradient(bottom, #304055 0%, #536f94 100%);
	background-image: -ms-linear-gradient(bottom, #304055 0%, #536f94 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #304055),
		color-stop(1, #536f94)
	);
}
    /* for IE6 */
    * html .et-rdrect-indigo
    {
        border: 1px solid #bfc6d1;
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#536f94, endColorstr=#304055);
    }
    /* for IE7 */
    *+html .et-rdrect-indigo
    {
        border: 1px solid #bfc6d1;
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#536f94, endColorstr=#304055);
    }
    /* for IE8, going last */
    @media \0screen {
	    .et-rdrect-indigo
	    {
            border: 1px solid #bfc6d1;
	        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#536f94, endColorstr=#304055)";    
	    }
    }
a.et-rdrect-indigo:active
{
	box-shadow: 0 3px 12px rgba(86, 86, 86, 0.7) inset, 0 1px 0 rgba(11, 55, 84, 0.16);
}

/* ------------------------------------------------------- */
.et-rdrect-dark
{
	color: #fff;
	text-shadow: 0 1px 0 rgba(8, 40, 74, 0.75);
	border: 1px solid #2b343f;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.38) inset, 0 1px 5px rgba(0, 0, 0, 0.24);
	
	/* Regular color */
	background-color: #47505d;
	/* CSS3 background */
	background-image: linear-gradient(bottom, #39424f 0%, #47505d 100%);
	background-image: -o-linear-gradient(bottom, #39424f 0%, #47505d 100%);
	background-image: -moz-linear-gradient(bottom, #39424f 0%, #47505d 100%);
	background-image: -webkit-linear-gradient(bottom, #39424f 0%, #47505d 100%);
	background-image: -ms-linear-gradient(bottom, #39424f 0%, #47505d 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #39424f),
		color-stop(1, #47505d)
	);
}
    /* for IE6 */
    * html .et-rdrect-dark
    {
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#47505d, endColorstr=#39424f);
    }
    /* for IE7 */
    *+html .et-rdrect-dark
    {
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#47505d, endColorstr=#39424f);
    }
    /* for IE8, going last */
    @media \0screen {
	    .et-rdrect-dark
	    {
	        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#47505d, endColorstr=#39424f)";    
	    }
    }
a.et-rdrect-dark:active
{
	box-shadow: 0 3px 12px rgba(86, 86, 86, 0.7) inset, 0 1px 0 rgba(11, 55, 84, 0.16);
}

/* ------------------------------------------------------- */
.et-rdrect-blu
{
	color: #fff;
	text-shadow: 0 1px 0 rgba(8, 40, 74, 0.75);
	border: 1px solid #275fa3;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.38) inset, 0 1px 0 rgba(11, 55, 84, 0.16);
	
	/* Regular color */
	background-color: #57a9eb;
	/* CSS3 background */
	background-image: linear-gradient(bottom, #3871c0 0%, #57a9eb 100%);
	background-image: -o-linear-gradient(bottom, #3871c0 0%, #57a9eb 100%);
	background-image: -moz-linear-gradient(bottom, #3871c0 0%, #57a9eb 100%);
	background-image: -webkit-linear-gradient(bottom, #3871c0 0%, #57a9eb 100%);
	background-image: -ms-linear-gradient(bottom, #3871c0 0%, #57a9eb 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #3871c0),
		color-stop(1, #57a9eb)
	);
}
    /* for IE6 */
    * html .et-rdrect-blu
    {
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#57a9eb, endColorstr=#3871c0);
    }
    /* for IE7 */
    *+html .et-rdrect-blu
    {
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#57a9eb, endColorstr=#3871c0);
    }
    /* for IE8, going last */
    @media \0screen {
	    .et-rdrect-blu
	    {
	        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#57a9eb, endColorstr=#3871c0)";    
	    }
    }
a.et-rdrect-blu:active
{
	box-shadow: 0 3px 12px rgba(86, 86, 86, 0.7) inset, 0 1px 0 rgba(11, 55, 84, 0.16);
}
.et-rdrect-blu a.et-btn-l:active,
.et-rdrect-blu a.et-btn-r:active
{
	box-shadow: 0 3px 12px rgba(86, 86, 86, 0.7) inset;
}
.et-rdrect-blu .et-btn-l
{
	border-right: 1px solid rgba(180, 199, 225, 0.5);
	*border-right: 1px solid #b4c7e1;
}
    /* for IE8, going last */
    @media \0screen {
	    .et-rdrect-blu .et-btn-l
	    {
            border-right: 1px solid #b4c7e1;
	    }
    }

.et-rdrect-blu .et-btn-r
{
	border-left: 1px solid rgba(57, 92, 157, 0.5);
	*border-left: 1px solid #395c9d;
}
    /* for IE8, going last */
    @media \0screen {
	    .et-rdrect-blu .et-btn-r
	    {
            border-left: 1px solid #395c9d;
	    }
    }

/* ------------------------------------------------------- */
.et-rdrect-ora
{
	color: #fff;
	text-shadow: 0 1px 0 rgba(134, 61, 6, 0.75);
	border: 1px solid #c4531c;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.38) inset, 0 1px 0 rgba(11, 55, 84, 0.16);
	
	/* Regular color */
	background-color: #ff8828;
	/* CSS3 background */
	background-image: linear-gradient(bottom, #e46304 0%, #ff8828 100%);
	background-image: -o-linear-gradient(bottom, #e46304 0%, #ff8828 100%);
	background-image: -moz-linear-gradient(bottom, #e46304 0%, #ff8828 100%);
	background-image: -webkit-linear-gradient(bottom, #e46304 0%, #ff8828 100%);
	background-image: -ms-linear-gradient(bottom, #e46304 0%, #ff8828 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #e46304),
		color-stop(1, #ff8828)
	);
}
    /* for IE6 */
    * html .et-rdrect-ora
    {
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff8828, endColorstr=#e46304);
    }
    /* for IE7 */
    *+html .et-rdrect-ora
    {
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff8828, endColorstr=#e46304);
    }
    /* for IE8, going last */
    @media \0screen {
	    .et-rdrect-ora
	    {
	        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff8828, endColorstr=#e46304)";    
	    }
    }
a.et-rdrect-ora:active
{
	box-shadow: 0 3px 12px rgba(86, 86, 86, 0.7) inset, 0 1px 0 rgba(11, 55, 84, 0.16);
}
.et-rdrect-ora a.et-btn-l:active,
.et-rdrect-ora a.et-btn-r:active
{
	box-shadow: 0 3px 12px rgba(86, 86, 86, 0.7) inset;
}
.et-rdrect-ora .et-btn-l
{
	border-right: 1px solid rgba(180, 199, 225, 0.5);
	*border-right: 1px solid #b4c7e1;
}
    /* for IE8, going last */
    @media \0screen {
	    .et-rdrect-ora .et-btn-l
	    {
            border-right: 1px solid #b4c7e1;
	    }
    }

.et-rdrect-ora .et-btn-r
{
	border-left: 1px solid rgba(57, 92, 157, 0.5);
	*border-left: 1px solid #395c9d;
}
    /* for IE8, going last */
    @media \0screen {
	    .et-rdrect-ora .et-btn-r
	    {
            border-left: 1px solid #395c9d;
	    }
    }

/* +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+ */
/* - Height */
.et-rdrect-circle
{
	border-radius: 500px;
}

/* ------------------------------------------------------- */
.et-rdrect-29
{
	font-size: 13px;
	line-height: 29px;
	height: 29px;
	border-radius: 16px;
}
.et-rdrect-29 .et-btn-l,
.et-rdrect-29 .et-btn-r
{
	font-size: 13px;
	line-height: 29px;
	height: 29px;
}
.et-rdrect-29 .et-btn-l
{
    border-radius: 16px 0 0 16px;
}
.et-rdrect-29 .et-btn-r
{
    border-radius: 0 16px 16px 0;
}

/* ------------------------------------------------------- */
.et-rdrect-21
{
	font-size: 11px;
	line-height: 21px;
	height: 21px;
	border-radius: 12px;
}

/* ------------------------------------------------------- */
.et-rdrect-19
{
	font-size: 11px;
	line-height: 19px;
	height: 19px;
	border-radius: 11px;
}
.et-rdrect-19 .et-btn-l,
.et-rdrect-19 .et-btn-r
{
	font-size: 11px;
	line-height: 19px;
	height: 19px;
}
.et-rdrect-19 .et-btn-l
{
    border-radius: 11px 0 0 11px;
}
.et-rdrect-19 .et-btn-r
{
    border-radius: 0 11px 11px 0;
}

/* ------------------------------------------------------- */
.et-rdrect-15
{
	font-size: 10px;
	line-height: 15px;
	height: 15px;
	border-radius: 9px;
}

/* ------------------------------------------------------- */
.et-rdrect-11
{
	font-size: 9px;
	line-height: 11px;
	height: 11px;
	border-radius: 7px;
}

/* ------------------------------------------------------- */
.et-rdrect-9
{
	line-height: 9px;
	height: 9px;
	border-radius: 6px;
}

/* +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+ */
/* - Container */
.et-rdrect-nowrap-container
{
	font-size: 0;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 5px;
}
