.et-icon-9x9
{
	width: 9px;
	height: 9px;
	margin: 3px;
	display: block;
	text-indent: -9999px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center center;
}

.et-icon-close
{
	background-image: url(i/icon_x_whi.png);
}
.et-icon-arrow-whi-t
{
	background-image: url(i/icon_arrow_whi_t.png);
}
.et-icon-arrow-whi-r
{
	background-image: url(i/icon_arrow_whi_r.png);
}
.et-icon-arrow-whi-b
{
	background-image: url(i/icon_arrow_whi_b.png);
}
.et-icon-arrow-whi-l
{
	background-image: url(i/icon_arrow_whi_l.png);
}
