 /* +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+ */
/* + Button */
.et-btn
{
	font-weight: bold;
	text-decoration: none;
}
a:active .et-btn-txt
{
    position: relative;
    top: 1px;
    left: 0;
}

/* - Functional */
.et-btn-single,
a.et-btn-container
{
	cursor: pointer;
}
.et-btn-container
{
	font-size: 0;
}
.et-nowrap-container
{
	font-size: 0;
    white-space: nowrap;
    overflow: hidden;
        
    transition: width .2s;
    -moz-transition: width .2s;
    -webkit-transition: width .2s;
    -o-transition: width .2s;
}

/* - Sub Button */
.et-btn-l,
.et-btn-r
{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	cursor: pointer;
}

/* +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+ */
/* - Close */
.et-btn-close
{
	cursor: pointer;
	padding: 1px;
	vertical-align: middle;/* - TODO: confused */
}
.et-btn-close-inner
{
	display: block;
}
.et-rdrect-blu .et-btn-close-inner
{
	border: 1px solid rgba(149, 164, 185, 0.52);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.52) inset;
	
	/* Regular color */
	background-color: #304055;
	/* CSS3 background */
	background-image: linear-gradient(bottom, #536f94 0%, #304055 100%);
	background-image: -o-linear-gradient(bottom, #536f94 0%, #304055 100%);
	background-image: -moz-linear-gradient(bottom, #536f94 0%, #304055 100%);
	background-image: -webkit-linear-gradient(bottom, #536f94 0%, #304055 100%);
	background-image: -ms-linear-gradient(bottom, #536f94 0%, #304055 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #536f94),
		color-stop(1, #304055)
	);
}
    /* for IE6 */
    * html .et-rdrect-blu .et-btn-close-inner
    {
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#304055, endColorstr=#536f94);
    }
    /* for IE7 */
    *+html .et-rdrect-blu .et-btn-close-inner
    {
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#304055, endColorstr=#536f94);
    }
    /* for IE8, going last */
    @media \0screen {
	    .et-rdrect-blu .et-btn-close-inner
	    {
	        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#304055, endColorstr=#536f94)";    
	    }
    }
.et-rdrect-gra .et-btn-close-inner
{
	border: 1px solid rgba(149, 164, 185, 0.52);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.52) inset;
	
	/* Regular color */
	background-color: #3e4146;
	/* CSS3 background */
	background-image: linear-gradient(bottom, #61676e 0%, #3e4146 100%);
	background-image: -o-linear-gradient(bottom, #61676e 0%, #3e4146 100%);
	background-image: -moz-linear-gradient(bottom, #61676e 0%, #3e4146 100%);
	background-image: -webkit-linear-gradient(bottom, #61676e 0%, #3e4146 100%);
	background-image: -ms-linear-gradient(bottom, #61676e 0%, #3e4146 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #61676e),
		color-stop(1, #3e4146)
	);
}
    /* for IE6 */
    * html .et-rdrect-gra .et-btn-close-inner
    {
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3e4146, endColorstr=#61676e);
    }
    /* for IE7 */
    *+html .et-rdrect-gra .et-btn-close-inner
    {
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3e4146, endColorstr=#61676e);
    }
    /* for IE8, going last */
    @media \0screen {
	    .et-rdrect-gra .et-btn-close-inner
	    {
	        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#3e4146, endColorstr=#61676e)";    
	    }
    }
