.et-announce li
{
    position: relative;
}
.et-icon-mail,
.et-icon-horn
{
    display: block;
    width: 3.2em;
    height: 31px;
}
.et-icon-mail
{
    background: url(../_imgs/icon_mail.png) no-repeat center center;
}
.et-icon-horn
{
    background: url(../_imgs/icon_horn.png) no-repeat center center;
}
.et-announce-num
{
    display: inline-block;
    color: #fff;
    font-weight: 700;
    width: 1.2em;
    height: 1.2em;
    line-height: 1.2em;
    text-align: center;
    background-color: #ff6c00;
    text-shadow: none;
}
.et-announce .et-announce-num
{
    position: absolute;
    left: 22px;
    top: 14px;
}

#et-profilebar
{
    line-height: 58px;
    height: 60px;
    background: #48505c url(../_imgs/bg_profilebar.png) repeat-x left bottom;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.21);
    
    position: absolute;
    width: 100%;
    
    transition: top .2s;
    -moz-transition: top .2s;
    -webkit-transition: top .2s;
    -o-transition: top .2s;
}
.et-profilebar-hide
{
    top: 17px;
    z-index: -1;
}
.et-profilebar-show
{
    top: 82px;
}
#et-profilebar .et-rdrect-nowrap-container
{
    min-width: 13em;
}

.et-profilebar-links
{
    color: #8896a3;
}
.et-profilebar-myprofile,
.et-profilebar-setting,
.et-profilebar-logout
{
    display: inline-block;
    cursor: pointer;
    margin: 0 3px;
}
.et-profilebar-myprofile
{
    color: #ebf0f4;
    font-weight: 700;
}
.et-profilebar-setting,
.et-profilebar-logout
{
    color: #d1d9e1;
    padding-left: 24px;
}
.et-profilebar-setting
{
    background: url(../_imgs/icon_setting.png) no-repeat left center;
}
.et-profilebar-logout
{
    background: url(../_imgs/icon_logout.png) no-repeat left center;
}

.et-profilebar-challenge-progressbar
{
    width: 35%;
}
