 /* + Rounded Rectangle */
.et-rdrect
{
	font-family: Arial;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
a:active .et-btn-txt
{
    position: relative;
    top: 1px;
    left: 0;
}

/* - Color */
.et-rdrect-whi
{
	color: #838383;

	border: 1px solid #c5cfd9;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.38) inset, 0 1px 4px rgba(0, 0, 0, 0.24);
	
	/* Regular color */
	background-color: rgba(255, 255, 255, 0.06);
	/* CSS3 background */
	background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%);
	background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%);
	background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%);
	background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%);
	background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgba(0, 0, 0, 0.06)),
		color-stop(1, rgba(255, 255, 255, 0.06))
	);
}
    /* for IE6 */
    * html .et-rdrect-whi
    {
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=rgba(255, 255, 255, 0.06), endColorstr=rgba(0, 0, 0, 0.06));
    }
    /* for IE7 */
    *+html .et-rdrect-whi
    {
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=rgba(255, 255, 255, 0.06), endColorstr=rgba(0, 0, 0, 0.06));
    }
    /* for IE8, going last */
    @media \0screen {
	    .et-rdrect-whi
	    {
	        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=rgba(255, 255, 255, 0.06), endColorstr=rgba(0, 0, 0, 0.06))";    
	    }
    }
.et-rdrect-blu
{
	color: #fff;
	text-shadow: 0 1px 0 rgba(8, 40, 74, 0.75);
	border: 1px solid #275fa3;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.38) inset, 0 1px 0 rgba(11, 55, 84, 0.16);
	
	/* Regular color */
	background-color: #57a9eb;
	/* CSS3 background */
	background-image: linear-gradient(bottom, #3871c0 0%, #57a9eb 100%);
	background-image: -o-linear-gradient(bottom, #3871c0 0%, #57a9eb 100%);
	background-image: -moz-linear-gradient(bottom, #3871c0 0%, #57a9eb 100%);
	background-image: -webkit-linear-gradient(bottom, #3871c0 0%, #57a9eb 100%);
	background-image: -ms-linear-gradient(bottom, #3871c0 0%, #57a9eb 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #3871c0),
		color-stop(1, #57a9eb)
	);
}
    /* for IE6 */
    * html .et-rdrect-whi
    {
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#57a9eb, endColorstr=#3871c0);
    }
    /* for IE7 */
    *+html .et-rdrect-whi
    {
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#57a9eb, endColorstr=#3871c0);
    }
    /* for IE8, going last */
    @media \0screen {
	    .et-rdrect-whi
	    {
	        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#57a9eb, endColorstr=#3871c0)";    
	    }
    }
a.et-rdrect-blu:active
{
	box-shadow: 0 1px 4px rgba(86, 86, 86, 0.7) inset, 0 1px 0 rgba(11, 55, 84, 0.16);
}
.et-rdrect-blu a.et-btn-l:active,
.et-rdrect-blu a.et-btn-r:active
{
	box-shadow: 0 1px 4px rgba(86, 86, 86, 0.7) inset;
}
.et-rdrect-blu .et-btn-l
{
	border-right: 1px solid rgba(180, 199, 225, 0.5);
	*border-right: 1px solid #b4c7e1;
}
    /* for IE8, going last */
    @media \0screen {
	    .et-rdrect-blu .et-btn-l
	    {
            border-right: 1px solid #b4c7e1;
	    }
    }

.et-rdrect-blu .et-btn-r
{
	border-left: 1px solid rgba(57, 92, 157, 0.5);
	*border-left: 1px solid #395c9d;
}
    /* for IE8, going last */
    @media \0screen {
	    .et-rdrect-blu .et-btn-r
	    {
            border-left: 1px solid #395c9d;
	    }
    }

.et-rdrect-ora
{
	color: #fff;
	text-shadow: 0 1px 0 rgba(134, 61, 6, 0.75);
	border: 1px solid #c4531c;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.38) inset, 0 1px 0 rgba(11, 55, 84, 0.16);
	
	/* Regular color */
	background-color: #ff8828;
	/* CSS3 background */
	background-image: linear-gradient(bottom, #e46304 0%, #ff8828 100%);
	background-image: -o-linear-gradient(bottom, #e46304 0%, #ff8828 100%);
	background-image: -moz-linear-gradient(bottom, #e46304 0%, #ff8828 100%);
	background-image: -webkit-linear-gradient(bottom, #e46304 0%, #ff8828 100%);
	background-image: -ms-linear-gradient(bottom, #e46304 0%, #ff8828 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #e46304),
		color-stop(1, #ff8828)
	);
}
    /* for IE6 */
    * html .et-rdrect-ora
    {
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff8828, endColorstr=#e46304);
    }
    /* for IE7 */
    *+html .et-rdrect-ora
    {
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff8828, endColorstr=#e46304);
    }
    /* for IE8, going last */
    @media \0screen {
	    .et-rdrect-ora
	    {
	        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff8828, endColorstr=#e46304)";    
	    }
    }
a.et-rdrect-ora:active
{
	box-shadow: 0 1px 4px rgba(86, 86, 86, 0.7) inset, 0 1px 0 rgba(11, 55, 84, 0.16);
}
.et-rdrect-ora a.et-btn-l:active,
.et-rdrect-ora a.et-btn-r:active
{
	box-shadow: 0 1px 4px rgba(86, 86, 86, 0.7) inset;
}
.et-rdrect-ora .et-btn-l
{
	border-right: 1px solid rgba(180, 199, 225, 0.5);
	*border-right: 1px solid #b4c7e1;
}
    /* for IE8, going last */
    @media \0screen {
	    .et-rdrect-ora .et-btn-l
	    {
            border-right: 1px solid #b4c7e1;
	    }
    }

.et-rdrect-ora .et-btn-r
{
	border-left: 1px solid rgba(57, 92, 157, 0.5);
	*border-left: 1px solid #395c9d;
}
    /* for IE8, going last */
    @media \0screen {
	    .et-rdrect-ora .et-btn-r
	    {
            border-left: 1px solid #395c9d;
	    }
    }

/* - Height */
.et-rdrect-29
{
	font-size: 13px;
	line-height: 29px;
	height: 29px;
	border-radius: 16px;
}
.et-rdrect-29 .et-btn-l,
.et-rdrect-29 .et-btn-r
{
	font-size: 13px;
	line-height: 29px;
	height: 29px;
}
.et-rdrect-29 .et-btn-l
{
    border-radius: 16px 0 0 16px;
}
.et-rdrect-29 .et-btn-r
{
    border-radius: 0 16px 16px 0;
}

.et-rdrect-21
{
	font-size: 11px;
	line-height: 21px;
	height: 21px;
	border-radius: 12px;
}

.et-rdrect-19
{
	font-size: 11px;
	line-height: 19px;
	height: 19px;
	border-radius: 11px;
}
.et-rdrect-19 .et-btn-l,
.et-rdrect-19 .et-btn-r
{
	font-size: 11px;
	line-height: 19px;
	height: 19px;
}
.et-rdrect-19 .et-btn-l
{
    border-radius: 11px 0 0 11px;
}
.et-rdrect-19 .et-btn-r
{
    border-radius: 0 11px 11px 0;
}

.et-rdrect-15
{
	font-size: 10px;
	line-height: 15px;
	height: 15px;
	border-radius: 9px;
}

/* +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+ */
/* + Button */
.et-btn
{
	font-weight: bold;
	text-decoration: none;
}

/* - Functional */
.et-btn-single
{
	cursor: pointer;
}
.et-btn-container
{
	font-size: 0;
}
.et-nowrap-container
{
	font-size: 0;
    white-space: nowrap;
    overflow: hidden;
        
    transition: width .2s;
    -moz-transition: width .2s;
    -webkit-transition: width .2s;
    -o-transition: width .2s;
}

/* - Sub Button */
.et-btn-l,
.et-btn-r
{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	cursor: pointer;
}

/* +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+ */
/* - Close */
.et-btn-close
{
	cursor: pointer;
	padding: 1px;
	border-radius: 11px;
	vertical-align: middle;/* - TODO: confused */
}
.et-btn-close-inner
{
	padding: 3px;
	display: block;
	border-radius: 9px;
	border: 1px solid rgba(149, 164, 185, 0.52);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.52) inset;
	
	/* Regular color */
	background-color: #304055;
	/* CSS3 background */
	background-image: linear-gradient(bottom, #536f94 0%, #304055 100%);
	background-image: -o-linear-gradient(bottom, #536f94 0%, #304055 100%);
	background-image: -moz-linear-gradient(bottom, #536f94 0%, #304055 100%);
	background-image: -webkit-linear-gradient(bottom, #536f94 0%, #304055 100%);
	background-image: -ms-linear-gradient(bottom, #536f94 0%, #304055 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #536f94),
		color-stop(1, #304055)
	);
}

    /* for IE6 */
    * html .et-rdrect-whi
    {
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#304055, endColorstr=#536f94);
    }
    /* for IE7 */
    *+html .et-rdrect-whi
    {
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#304055, endColorstr=#536f94);
    }
    /* for IE8, going last */
    @media \0screen {
	    .et-rdrect-whi
	    {
	        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#304055, endColorstr=#536f94)";    
	    }
    }
.et-btn-close-icon
{
	width: 9px;
	height: 9px;
	display: block;
	text-indent: -9999px;
	overflow: hidden;
	background: url(i/icon_x_whi.png) no-repeat left top;
}
.et-btn-close-texticon
{
	color: #fff;
	line-height: 9px;
	font-size: 10px;
	width: 9px;
	height: 9px;
	display: block;
	overflow: hidden;
}

/* + Login form input */
.et-login-input
{
	font-family: Arial;
	font-size: 10px;
	color: #878787;
	line-height: 17px;
	height: 19px;
	padding: 0 4px;
	
	border-radius: 3px;
	border: 1px solid #c4c4c4;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12) inset, 0 1px 0 #fff;
}
